/*Estilizando o body*/
body
{
    min-height: 100vh;

    background:rgb(9, 67, 133);
}

/*Centralizando o h1*/
h1
{
    text-align: center;
    color: white;
}

/*tirando as bordas padrão da página*/
html, body
{
    margin: 0;
    padding: 0;
}

/*Estilização do Main*/
Main
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*Estilizando a section*/
section
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding: 20px;

    border: 1px solid currentColor;
    border-radius: 10px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background: rgb(11, 66, 148);

    height: 120px;
    width: 400px;

    transition: 200ms;
}

section:hover
{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 0px 0px 10px rgb(0, 183, 255);
}

.botoes
{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

/*Estilizando botões*/
a
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: 1px solid rgb(157, 211, 255);
    border-radius: 15px;

    width: 55px;
    height: 45px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-decoration: none;
    
    background: rgb(12, 86, 196);
    color: white;

    transition: 200ms;
}

/*Animação do botão*/
a:hover
{
    transform: scale(1.1);
    transition: 200ms;
    
    box-shadow: 0px 0px 5px rgb(24, 114, 231);
}

/*Estilizando footer*/
footer
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

hr
{
    color: gray
}